<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contributor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/contributor.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container pt-5">
        <p class="text-center display-6 fw-bold">Meet Our Developers</p>
    </div>

    <div class="container pt-5">
        <div class="album bg-body pt-5">
          <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5">
              <!-- This is event box1 -->
                <div class="container pt-3">
                    <div class="card p-3 py-3 shadow-sm">
                    <div class="text-center">
                        <img src="/static/images/niranjan.png" width="100" height="100" class="rounded-circle" style="object-fit:cover">
                    </div>
                    <div class="text-center mt-3">
                        <h5 class="mt-2 mb-0">Niranjan Raj</h5>
                        <span>Frontend Developer</span>
                        <div class="pt-2">
                            <a href="https://github.com/niranjan2411"  style="color: rgba(0, 0, 0, 0.909);"><i class="bi bi-github display-6 px-2"></i></a>
                            <a href="https://www.linkedin.com/in/niranjanraj-jnu/" style="color: #0269a0;"><i class="bi bi-linkedin display-6 px-2"></i></a> 
                        </div>
                        <div class="buttons pt-3 d-grid gap-2 col-6 mx-auto"> 
                            <button class="btn btn-dark btn-sm " onclick="window.location.href = 'mailto:niranjanrajsoni6793@gmail.com?subject=&body='">Email</button>
                        </div>
                    </div>  
                    </div>
                </div>
                <!-- end of a box -->
                <div class="container pt-3">
                    <div class="card p-3 py-3 shadow-sm">
                    <div class="text-center">
                        <img src="/static/images/karan.jpg" width="100"  height="100" class="rounded-circle"  style="object-fit:cover">
                    </div>
                    <div class="text-center mt-3">
                        <h5 class="mt-2 mb-0">Karan Joshi</h5>
                        <span>Backend Developer</span>
                        <div class="pt-2">
                            <a href="https://github.com/KaranJoshi101"  style="color: rgba(0, 0, 0, 0.909);"><i class="bi bi-github display-6 px-2"></i></a>
                            <a href="https://www.linkedin.com/in/karan-joshi-24404a292/" style="color: #0269a0;"><i class="bi bi-linkedin display-6 px-2"></i></a> 
                        </div>
                        <div class="buttons pt-3 d-grid gap-2 col-6 mx-auto"> 
                            <button class="btn btn-dark btn-sm " onclick="window.location.href = 'mailto:www.joshikaran3424@gmail.com?subject=&body='">Email</button>
                        </div>
                    </div>  
                    </div>
                </div>
                <div class="container pt-3">
                    <div class="card p-3 py-4 shadow-sm">
                    <div class="text-center">
                        <img src="/static/images/adi.jpg" width="100"  height="100" class="rounded-circle"  style="object-fit:cover">
                    </div>
                    <div class="text-center mt-3">
                        <h5 class="mt-2 mb-0">Aditya Tiwari</h5>
                        <span>Frontend Developer</span>
                        <div class="pt-2">
                            <a href="https://github.com/Aditya1305T"  style="color: rgba(0, 0, 0, 0.909);"><i class="bi bi-github display-6 px-2"></i></a>
                            <a href="https://www.linkedin.com/in/aditya-tiwari-98367b268/" style="color: #0269a0;"><i class="bi bi-linkedin display-6 px-2"></i></a> 
                        </div>
                        <div class="buttons pt-3 d-grid gap-2 col-6 mx-auto"> 
                            <button class="btn btn-dark btn-sm " onclick="window.location.href = 'mailto:adityatiwari1305@gmail.com?subject=&body='">Email</button>
                        </div>
                    </div>  
                    </div>
                </div>
                <div class="container pt-3">
                    <div class="card p-3 py-4 shadow-sm">
                    <div class="text-center">
                        <img src="/static/images/utsav.jpg" width="100" height="100"  class="rounded-circle"  style="object-fit:cover">
                    </div>
                    <div class="text-center mt-3">
                        <h5 class="mt-2 mb-0">Utsav Udit Mishra</h5>
                        <span>Full-Stack Developer</span>
                        <div class="pt-2">
                            <a href="https://github.com/utsavu92"  style="color: rgba(0, 0, 0, 0.909);"><i class="bi bi-github display-6 px-2"></i></a>
                            <a href="https://www.linkedin.com/in/utsav-udit-mishra-37b118292/" style="color: #0269a0;"><i class="bi bi-linkedin display-6 px-2"></i></a> 
                        </div>
                        <div class="buttons pt-3 d-grid gap-2 col-6 mx-auto"> 
                            <button class="btn btn-dark btn-sm " onclick="window.location.href = 'mailto:utsavu92_soe@jnu.ac.in?subject=&body='">Email</button>
                        </div>
                    </div>  
                    </div>
                </div>
                
                

                
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>
    <br>

</body>
</html>