<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Events</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/explore-events.css">
</head>
<body>

  <div class="container">

    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4 mb-3">
      <a type="button" class="btn btn-secondary btn-sm btn-lg me-md-2" href="/{{user.id}}/myevents">Exit ></a>
    </div>

    <div class="d-flex justify-content-between align-items-center " >
      <div style="display: flex;align-items: center;">
        <h2 class="display-5 fw-bold text-body-emphasis" style="line-height: 40px;">{{event.title}}</h2>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start btn-group" role="group">
        <button type="button" class="btn btn-warning btn-sm btn-lg me-md" style="visibility: hidden;">Update</button>
        <button type="button" class="btn btn-danger btn-sm btn-lg me-md" style="visibility: hidden;">Delete</button>
      </div>
    </div>
    
    <div class="row flex-lg-row-reverse  g-2 py-2">
      <div class="col-10 col-sm-6 col-lg-4">
        <img src="/static/voteThumbnail.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="400" loading="lazy">
      </div>
      <div class="col-lg-8">
          <small style=" color: #0a694b; font-weight: 700;font-size: xx-large;" id="timer"></small>
          <p class="fw-bold text-body-emphasis" style="font-size:large;" id="datetime">Date : {{event.startTime}} <br> Time : 12:22 AM <br> Duration : {%if event.durHour%}{{event.durHour}} hours {%else%}{{event.durMin}} minutes {%endif%} </p>
          <p class="lead">{{event.desc}}</p>
      </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-5 mb-5" id="r-cand" style="visibility: hidden;">
      <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Register as a Candidate</button>
    </div>

    <div>
      <h3 style="font-weight: 700;">Candidates Details</h3>
    </div>
    <div class="album py-2 bg-body">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-5">

         <!-- for loop start -->
          <div class="col">
            <div class="card shadow-sm">
              <img src="/static/candidate_default.png" alt="">
              <div class="card-body">
                <h5 style="font-weight: 700;">Niranjan Raj(f)</h5>
                <button  class="btn btn-secondary btn-sm" data-bs-toggle="collapse" data-bs-target="#demo">Ambition</button>
                <div id="demo" class="collapse">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                
                <div class="d-flex justify-content-between align-items-center" >
                  <div id="enrollment">
                    23/11/EC/011
                  </div>
                  <small class="text-body-secondary">CSE</small>
                </div>
              </div>
            </div>
          </div>
          <!-- for loop end -->
          
          
        </div>
      </div>  
    </div>




    <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-5 mb-5">
      <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Vote</button>
    </div>

  </div>



  <script src="/static/explore-events.js"></script>
</body>
</html>