<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Events</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/explore-events.css">
</head>
<body>
  <p id="exp" style="display:none">/{{user.id}}/home</p>
  <div class="container">

    <div class="d-grid gap-2 d-md-flex justify-content-md-end pt-4 pb-3">
      <a type="button" class="btn btn-secondary btn-sm btn-lg me-md-2" href="/{{user.id}}/home">Exit ></a>
    </div>

    <div class="d-flex justify-content-between align-items-center pb-5" >
      <div style="display: flex;align-items: center;">
        <h2 class="display-5 fw-bold text-body-emphasis" style="line-height: 40px;">{{event.title}}</h2>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start btn-group" role="group">
        {%if event.organizerId==user.id and event.startTime>event.startTime.now()%}
        <a type="button" class="btn btn-warning btn-sm btn-lg me-md">Update</a>
        <a type="button" class="btn btn-danger btn-sm btn-lg me-md" href="/{{user.id}}/{{event.id}}/delete">Delete</a>
        {%endif%}
        
      </div>
    </div>
    
    <div class="g-2 py-2 text-center d-flex justify-content-center pb-4 pt-3">
      <div class="text-center col-md-8 col-lg-8 col-sm-12">
        {%if event.startTime>event.startTime.now()%}
        <small class="fs-5" style="color: #0a694b; font-weight: 700;" id="timer">Starts in </small>
        <p class="fs-5" id="startTimer" style="display: none;">{{event.startTime}}w{{event.endTime}}</p>
        
        {%elif event.endTime>event.endTime.now()%}
        <small class="fs-5" style=" color: red; font-weight: 700;" id="timer">Ends in </small>
        <p class="fs-5" style="display: none;" id="startTimer">{{event.endTime}}</p>
        {%else%}
        <small class="fs-5" style="color: #0a694b; font-weight: 700;">Event Successfully Completed</small>
        {%endif%}
          <p class="fs-5" id="startDate" style="font-size:large;">Start Date : {{event.startTime}}<br>Duration : {%if event.durHour%}{{event.durHour}} hours{%else%}{{event.durMin}} minutes{%endif%}</p>
          <p id="lead" >{{event.desc}}</p>
      </div>
    </div>



    {%for v in vote%}
    {%if v.userId==user.id and v.role=="candidate"%}
    <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-5 mb-5" id="r-cand">
      {%if v.role=='candidate'%}
      {%if v.candidature==-1 and event.startTime>event.startTime.now()%}
      <a type="button" class="btn btn-primary btn-lg px-4 me-md-2" href="/{{user.id}}/{{event.id}}/candidate/register" style="background-color: #05325E; border-color: #05325E;">Register as a Candidate</a>
      {%else%}
      <button class="btn btn-success">Successfully Registered</button>
      {%endif%}
      {%endif%}      
    </div>
    {%endif%}
    {%endfor%}
    {%if cand|length>0%}
    <div>
      <h3 style="font-weight: 700;">Candidates Details</h3>
    </div>
    {%endif%}
    <div class="album py-2 bg-body">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-5">
          {%for v in vote%}
         <!-- for loop start -->
            {%if v.role=="candidate" and v.candidature>=0%}
              {%for c in cand%}
                {%if v.userId==c.id%}
                  <div class="col">
                    <div class="card shadow-sm">
                      <img src=/static/images/{{c.candidateProfile}} alt="candidate image" height="290px" width="100%" style="object-fit: cover;">
                      <div class="card-body">
                        <h5 style="font-weight: 700;">{{c.name}}</h5>
                        <button  class="btn btn-secondary btn-sm" data-bs-toggle="collapse" data-bs-target="#demo{{loop.index}}">Ambition</button>
                        <div id="demo{{loop.index}}" class="collapse">
                          <p class="card-text">{{v.motive}}</p>
                        </div>
                        
                        <div class="d-flex justify-content-between align-items-center" >
                          <small class="text-body-secondary">{{v.branch}}</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  {%endif%}
                {%endfor%}
          <!-- for loop end -->
           {%endif%}
          {%endfor%}
          
        </div>
      </div>  
    </div>
    {% if (event.endTime>event.endTime.now()) %}
    {%if not vuser.vote %}
    {%if (event.startTime<event.startTime.now())%}
    <p id="link" style="display:none">/{{user.id}}/{{event.id}}/vote</p>
    
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-5 mb-5">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" id="VButton" >Vote</button>
      </div>
      {%endif%}
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-5 mb-5">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" id="vote" >Vote</button>
      </div>
    {%else%}
    <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-5 mb-5">
      <button type="button" class="btn btn-success btn-lg px-4 me-md-2" target="_blank">Successfully Voted</button>
    </div>
    {%endif%}
    {%else%}
    <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-5 mb-5">
      <a type="button" class="btn btn-lg px-4 me-md-2 fw-bold" style="background-color: #7b241c;color: white;" href="/{{event.id}}/result">View Result</a>
    </div>
    {%endif%}
      
    </div>
  </div>


  <script src="/static/explore-events.js"></script>
</body>
</html>