<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To WeVote</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body class="p-3 m-0 border-0 bd-example m-0 border-0">
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><b>Home</b></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/public">Public Events</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-dark me-2" type="submit">Search</button>
            </form>
            <a class="btn btn-primary" href="/login" style="background-color: #05325E; border-color: #05325E;">Login/Register</a>
          </div>
        </div>
      </nav>

      <main>
        <div class="container pt-4">
          <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
              <img src="/static/online-vote.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
              <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Online Secure Web-Based  Voting App</h1>
              <p class="lead">Empower your vote with privacy. Our app ensures your vote remains completely anonymous, with no record of whom you voted for. Organize events seamlessly and invite specific voters through email to cast their secure, confidential votes. Take control of your voting process with ease and trust. </p>
              <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a type="button" class="btn btn-primary btn-lg px-4 me-md-2" href="/login" style="background-color: #05325E; border-color: #05325E;">Let's Vote</a>
                <a type="button" class="btn btn-outline-secondary btn-lg px-4" href="/about">About Us</a>
              </div>
            </div>
          </div>
        </div>


        <!-- cards -->
         <div class="container">
          <div class="container px-4 py-5" id="custom-cards">
            <h2 class="pb-2 border-bottom">Our Top Features</h2>
        
            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-3">
              <div class="col">
                <div class="card card-cover h-100 overflow-hidden rounded-4 shadow-lg" style="background-color:  #05325E;">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Your Privacy Matters</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                      <li class="me-auto">
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
        
              <div class="col">
                <div class="card card-cover h-100 overflow-hidden rounded-4 shadow-lg" style="background-color:  #05325E;">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Confidential Voting, Seamless Events</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                      <li class="me-auto">
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
        
              <div class="col">
                <div class="card card-cover h-100 overflow-hidden rounded-4 shadow-lg" style="background-color:  #05325E;">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Detailed and Fast Results</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                      <li class="me-auto">
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
         </div>
       
  
      </main>

      <div class="container">
        <footer class="pt-3 mt-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-2">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="/public" class="nav-link px-2 text-body-secondary">Public Events</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Contact Us</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
            <li class="nav-item"><a href="/contributor" class="nav-link px-2 text-body-secondary">Development Team</a></li>
          </ul>
          <p class="text-center text-body-secondary">© WeVote, SoE, JNU</p>
        </footer>
      </div>

</body>
</html>