<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Specific Event</title>
    <link rel="stylesheet" href="/static/specific-event.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
    <div class="sidebar">
        <a class="active disabled" href="#about" id="aboutbtn" >My Events</a>
        <a href="#candidates" id="candidatesbtn">All Events</a>
        <a href="#result" id="resultbtn">Organize Events</a>

      </div>
      
      <div class="content">



        <div id="about" class="active">
            ABOUt Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi inventore recusandae consequatur laudantium mollitia vitae voluptates, dolorum ut? Asperiores omnis facere odio iste dolorum. Voluptatum molestias quis maxime dolorem accusantium.
        </div>


        <div id="candidates" >
            CANDIATES Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi inventore recusandae consequatur laudantium mollitia vitae voluptates, dolorum ut? Asperiores omnis facere odio iste dolorum. Voluptatum molestias quis maxime dolorem accusantium.
        </div>



        <div id="result" >
            RESULTS Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi inventore recusandae consequatur laudantium mollitia vitae voluptates, dolorum ut? Asperiores omnis facere odio iste dolorum. Voluptatum molestias quis maxime dolorem accusantium.
        </div>




      </div>
      <script src="/static/specific-event.js"></script>
</body>
</html>